
.admin-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  width: 230px;
  background-color: #a4a3a3;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a, .sidebar button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar button:hover,
.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #f7f7f7;
}

.button-container {
  text-align: right;
  margin-bottom: 20px;
}

.btn-create {
  background-color: #a30e1d;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-create:hover {
  background-color: #880c18;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border-left: 6px solid #a30e1d;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}
