<header class="main-header">
  <div class="logo-section">
    <img src="../../../assets/logo.png" alt="Tunisair Logo" class="logo" />
    <div class="brand-name">TUNISAIR</div>
  </div>
  <nav class="nav-links">
    <a href="#">Accueil</a>
    <a href="#">À propos</a>
    <a href="#">Contact</a>
    <a href="#">Connexion</a>
  </nav>
  
    <div class="header-right-links">
    <a href="mailto:contact@tunisair.com" class="link-icon">
      📧 <span>E-mail</span>
    </a>
    <a href="#" class="link-icon">
      ❓ <span>Aide</span>
    </a>
  </div>
</header>
